* {
  margin: 0;
  padding: 0;
}

.form {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  padding: 20px;
  width: 35%;
}

button {
  border-radius: 10px;
  font-size: 1rem;
  margin: 10px;
  padding: 15px;
}

.card {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  margin-left: 30px;
  padding: 15px;
  width: 300px;
  text-align: center;
}

.preview {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  margin-left: 30px;
  padding: 15px;
  width: 300px;
}
